.section-grid {
    display: grid;
    grid-template-columns: [grid-start] minmax(15px, 1fr) [content-start] minmax(min-content, 127rem) [content-end] minmax(15px, 1fr) [grid-end];
    grid-gap: 3rem;
}

.overview-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 5rem;
}

.item-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(36rem, 1fr));
    gap: 3rem;
}

.item-small-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
    gap: 3rem;
}