// COLORS
$color-text: #333;
$color-dark: #0f0e0e;
$color-light: #eeeeee;
$color-accent: #1e3799;
$color-accent1: #78e08f;

// FONTS
$font-head: "Fahkwang", sans-serif;
$font-body: "Comfortaa", cursive;
$font-cursive: "Great Vibes", cursive;
