.chip {
  font-size: 2rem;
  // font-family: var(--font-body);
  // border: 3px solid --color-accent;
  padding: 1rem 1.7rem;
  // color: var(--color-accent);
  background-color: #ddd; // rgb(var(--color-accent-rgb), .2);
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 1.5rem;

  //   @include backgroundcolor(red, .2);
  & > :first-child {
    margin-right: 1rem;
  }
  &:not(:last-child) {
    margin-right: 2rem;
  }
}

.rating-bar {
  display: block;
  width: 100%;
  background-color: #ddd;
  margin-bottom: 1.5rem;
  font-size: 2rem;
  font-family: var(--font-body);

  .rating-chip {
    padding: 1rem 1.7rem;
    font-family: var(--font-head);
    background-color: rgb(#ffa534, 1);
    letter-spacing: 2px;
    font-weight: bold;
    line-height: 2rem;
    i {
      color: yellow;
    }
    // width: 50%;
  }
}

.cta {
  text-decoration: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: none;
  transition: all 0.3s;
  letter-spacing: 1px;
  color: var(--color-accent);
  font-weight: bold;
  background-color: transparent;
  outline-offset: 5px;
  outline-width: 2px;

  &__icon {
    font-size: 5rem;
    margin-right: 2rem;
    transition: all 0.3s;
  }
  &__text {
    font-size: 2rem;
    font-family: var(--font-body);
  }

  &:hover:not(:disabled) {
    color: var(--color-accent-shade);
    letter-spacing: 2px;
  }
  &:hover:not(:disabled) &__icon {
    margin-right: 1.5rem;
  }

  &:active:not(:disabled) {
    transform: scale(0.95);
    outline-style: dashed;
  }

  &:focus:not(:disabled) {
    outline-style: dashed;
    outline-color: var(--color-accent);
  }

  &:disabled {
    color: #aaa;
    cursor: not-allowed;
  }
}
