.hero {
  // background-image: linear-gradient(rgba(0, 0, 0, .9), rgba(0, 0, 0, .9)), url('https://image.tmdb.org/t/p/w1280/ocUp7DJBIc8VJgLEw1prcyK1dYv.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vmin;
  background-color: #292929; //var(--color-accent-shade);
  background-blend-mode: overlay;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;

  .tagline {
    padding: 10rem 8rem;
    // background-color: rgba(#000, 0.6);
    width: 85%;
    text-align: center;

    .img-movie-title {
      max-height: 50vh;
      width: 100%;
      max-width: 50rem;
    }

    &__text {
      font-size: 4rem;
      color: var(--color-light);
      font-style: bold;
      font-family: var(--font-head);
      margin-top: 5rem;
    }
  }
}

.overview {
  &__content {
    grid-column: content-start / content-end;

    &--poster {
      .poster {
        width: 100%;
      }

      @media only screen and (max-width: $bp-sm) {
        // <576px
        grid-row: 2 / 3;
      }
    }

    &--details {
      padding: 1rem 0;

      .movie-title {
        font-size: 4.5rem;
        font-family: var(--font-head);
      }

      .chips {
        display: flex;
        align-items: center;
        // justify-content: space-between;
        flex-wrap: wrap;
      }

      .action-buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        // & >:not(:last-child) {
        //   width: 30rem;
        // }
      }

      .watchproviders {
        &--label {
          font-size: 2rem;
          font-family: var(--font-body);
        }
        &--items {
          display: flex;

          & > :not(:last-child) {
            margin-right: 5rem;
          }

          .watchprovider {
            text-decoration: none;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 10rem;
            transition: all 0.3s;
            color: var(--color-accent);

            &:hover {
              color: var(--color-accent-shade);
            }
            &:hover .watchprovider__icon {
              border: 3px solid var(--color-accent-shade);
            }

            &__icon {
              width: 100%;
              border-radius: 50%;
              transition: all 0.3s;
              border: 3px solid var(--color-accent);
            }
            &__text {
              text-align: center;
              line-height: 2rem;
              margin-top: 1rem;
              font-size: 1.5rem;
              font-family: var(--font-body);
            }
          }
        }
      }
    }
  }
}

.genres {
  &__content {
    grid-column: content-start / content-end;

    &--items {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap;

      .genre {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 6rem;

        &:not(:last-child) {
          margin-right: 4rem;
        }

        &__icon {
          width: 10rem;
        }
        &__text {
          font-size: 1.5rem;
          font-family: var(--font-body);
          margin-top: 2rem;
        }
      }
    }
  }
}

.storyline {
  // background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
  //   url("https://image.tmdb.org/t/p/w1280/ocUp7DJBIc8VJgLEw1prcyK1dYv.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--color-accent-shade);
  background-blend-mode: overlay;
  background-position: center;

  &__content {
    grid-column: content-start / content-end;
    color: var(--color-light);
    padding: 6rem 10rem;
    background-color: rgba(#000, 0.8);

    @media only screen and (max-width: $bp-sm) {
      // <576px
      background-color: rgba(#000, 0.5);
      padding: 3rem 4rem;
    }

    &--items {
      text-align: justify;
      font-size: 2rem;
      font-family: var(--font-body);
      line-height: 4rem;
    }
  }
}

.casts {
  padding-top: 7rem;

  &__content {
    grid-column: content-start / content-end;

    &--items {
      .cast {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;

        &__photo {
          width: 100%;
          height: 100%;
          object-fit: cover;
          background-color: #ddd;
          cursor: pointer;
          transition: all 0.5s;

          &:hover {
            filter: contrast(120%) brightness(120%);
          }
          &:active {
            transform: scale(0.95);
          }
        }
        &__text {
          font-size: 1.6rem;
          font-family: var(--font-body);
          margin-top: 2rem;
          text-align: center;

          .cast-as {
            margin-top: 1rem;
            font-size: 1.4rem;
            color: rgba(var(--color-text), 0.8);
          }
        }
      }
      .view-all-card {
        margin-bottom: 7.3rem;
      }
    }
  }
}

.view-all-card {
  color: var(--color-light);
  background-color: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20rem;
  cursor: pointer;
  transition: all 0.5s;
  // margin-bottom: 1rem;

  &:hover {
    background-color: #fff;
    color: rgba(var(--color-accent-rgb), 1);
  }
  &:active {
    transform: scale(0.95);
  }
}

.posters {
  &__content {
    grid-column: content-start / content-end;

    &--items {
      .poster {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;

        &__photo {
          width: 100%;
          height: 100%;
          object-fit: cover;
          background-color: #ddd;
          cursor: pointer;
          transition: all 0.5s;

          &:hover {
            filter: contrast(110%) brightness(110%);
          }
          &:active {
            transform: scale(0.95);
          }
        }
      }
      .view-all-card {
        margin-bottom: 1rem;
      }
    }
  }
}

.backdrops {
  &__content {
    grid-column: content-start / content-end;

    &--items {
      .backdrop {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;

        &__photo {
          width: 100%;
          height: 100%;
          object-fit: cover;
          background-color: #ddd;
          cursor: pointer;
          transition: all 0.5s;

          &:hover {
            filter: contrast(110%) brightness(110%);
          }
          &:active {
            transform: scale(0.95);
          }
        }
      }
      .view-all-card {
        margin-bottom: 1rem;
      }
    }
  }
}

.b2collection {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    url("https://image.tmdb.org/t/p/w1280/ocUp7DJBIc8VJgLEw1prcyK1dYv.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--color-accent-shade);
  background-blend-mode: overlay;
  background-position: center;

  &__content {
    grid-column: content-start / content-end;
    gap: 3rem;
    padding: 6rem 10rem;
    background-color: rgba(#000, 0.8);

    &--poster {
      .b2collection-poster {
        width: 100%;
      }
    }

    &--details {
      color: var(--color-light);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      p {
        font-size: 1.5rem;
        letter-spacing: 2px;
        font-weight: bold;
        color: var(--color-accent);
        line-height: 5rem;
      }
    }
  }
}

.movies {
  &__content {
    grid-column: content-start / content-end;

    &--items {
      .a-movie {
        text-decoration: none;
        .movie {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin-bottom: 1rem;

          &__poster {
            width: 100%;
            height: 100%;
            object-fit: cover;
            background-color: #ddd;
            cursor: pointer;
            transition: all 0.5s;

            &:hover {
              filter: contrast(120%) brightness(120%);
            }
            &:active {
              transform: scale(0.95);
            }
          }
          &__text {
            font-size: 1.5rem;
            font-family: var(--font-body);
            margin-top: 2rem;
            text-align: center;

            .text-as {
              margin-top: 1rem;
              font-size: 1.3rem;
              color: rgba(var(--color-text), 0.8);
            }

            .rating-chip {
              margin-top: 1rem;
              color: orange;
            }
          }
        }
      }
      .view-all-card {
        margin-bottom: 10rem;
      }
    }
  }
}
